* {
  margin: auto;
}
.App {
  border: 1px solid white;
  width: 800px;
  height: 700px;
}

.App-header {
  /* background-color: #f2f4f7; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 13, 13);
}

.budget {
  border: 1px solid white;
  background-color: rgb(189, 182, 182);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  padding: 10px;
}

.remaining {
  border: 1px solid white;
  background-color: rgb(208, 247, 172);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  padding: 10px;
}
.spentsofar {
  border: 1px solid white;
  background-color: rgb(190, 190, 235);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  padding: 10px;
}

/* Budget.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

Budget.edit {
  background-color: rgb(51, 171, 187);
}

AddExpenseForm.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

AddExpenseForm > label {
  color: red;
  text-align: left;
}

AddExpenseForm.label {
  width: 200px;
} */
